/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

h1 {
  font-family: impact;
  
}

#jeopardy {
  text-align: center;
  font-size: 12pt;
  background-color: #060ce9;
  color: white;
  border-collapse: collapse;
}

#jeopardy th, #jeopardy td {
  border: solid 1px white;
  width: 12em;
  padding: 1em;
}

th {
  text-transform: uppercase;
  font-family: impact;
  font-weight: bold;
  height: 4em;
  text-shadow: darkgoldenrod 1px 1px;
}

td {
  height: 9em;
  font-family: Copse, serif;
}

td:hover {
  cursor: pointer;
}

#restart {
  text-align: center;
	display: inline-block;
	margin:5px;
    font-weight: bold;
    padding: 10px 0 10px 10px ;
    background-color: lightgray;
    text-shadow: -1px -1px black, 1px 1px white;
    color: gray;
    -webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-o-border-radius: 7px;
	border-radius: 7px;
    box-shadow: 0 .2em gray; 
    cursor: pointer;
}

